body {
    width: 100%;
    background: #f9f9f9;
    color: #666;
    font-family: Helvetica, Arial;
}

tfoot input {
    width: 100%;
}

tfoot {
    display: table-header-group;
}

table {
    padding-top: 20px;
    border-collapse: collapse;
    word-wrap: break-word;
}

th {
    background-color: #fff;
    color: #666;
}

hr {
    border-color: #235b9a;
}

td.centered {
    text-align: center;
}

td.tiny {
    font-size: 12px;
}

table.dataTable tfoot th {
    padding: 5px;
    border-top: 0px;
}

table.dataTable thead th {
    padding: 5px;
    font-size: 13px;
    text-align: left;
}

table.dataTable tbody td {
    padding: 8px 5px;
}

#credits {
    padding-top: 10px;
    font-size: .7em;
    letter-spacing: .2em;
}

.button {
    font-size: 16px;
    margin-left: 15px;
    background-color: #235b9a;
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.result-button {
    font-size: 16px;
    margin-left: 15px;
    background: none;
    border: none;
    color: #666;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer; 
}

.fa-eye {
    color: #0c7847;
}

.fa-bolt {
    color: #da950e;
}

.fa-dot-circle {
    color: red;
}

.fa-sort-numeric-up {
    color: #018ccf;
}

.clicked-result-button {
    background: #235b9a;
    color: white;
}

.fa-user {
    font-size: 30px;
    padding: 15px 20px;
}

#attempt-button {
    padding-right: 5px;
}

#disqus_thread {
    padding: 20px;
}

.plotly {
    margin-top: 10px;
}

.title {
    font-size: 22px;
    letter-spacing: .1em;
}

a.underline {
    border-bottom: 1px blue dotted;
}

a:link {
    color: #235b9a;
    text-decoration: none;
}

a:visited {
    color: #235b9a;
    text-decoration: none;
}

a:hover {
    color: #235b9a;
    text-decoration: none;
}

a:active {
    color: #235b9a;
    text-decoration: none;
}

input[type="text"], select, textarea{
    color: red;
}

textarea:focus, input[type="text"]:focus {
    color: red;
}

div.dt-buttons {
    float: right;
    margin-right: 20px;
}

.dataTables_filter {
    padding-top: 12px;
}

#main_table {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#route_root {
    margin: auto;
    width: 1200px;
    letter-spacing: .05em;
}

.header {
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    text-align: center;
}

.flex {
    display: flex;
}

.back_button {
    width: 50px;
}

#title-div {
    flex: 1;
}

#wrapper {
    overflow: hidden;
    padding: 20px;
    margin-bottom: 16px;
}

#images {
    width: 50%;
    float:left;
    text-align: center;
}


#hold {
    width: 130px;
}

#details {
    overflow: hidden;
    font-size: 20px;
    position: relative;
}

#details label {
    display: block;
    margin-left: 60px;
}

#status {
    font-size: 24px;
}

.red-text {
    color: red;
}

.green-text {
    color: #32CD32;
}

#kids {
    font-size: 24px;
    color: orange;
}

#grade {
    font-size: 40px;
}

.faded {
    opacity: 0.3;
}

.opinion {
    font-size: 30px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

#heart {
    color: red;
}

#hard {
    color: #da950e;
    top: 50px;
}

#easy {
    color: #0c7847;
    top: 100px;
}

#results {
    padding: 20px;
    margin-bottom: 16px;
    text-align: center;
}

#results-form {
    margin-top: 13px;
}

.quick-filter {
    margin-left: 14px;
}

#quick-filters {
    float: left;
}

#quick-buttons {
    height: 30px;
    background: #f9f9f9;
    padding: 9px;
}

#map-buttons {
    float: right;
}

.emphasis {
    color: black;
    font-weight: bold;
}

.table-grade {
    padding: 1px 3px;
    color: white;
    font-weight: lighter;
}

.yellow {
    background: #ffec01;
    color: black;
}

.green {
    background: #00b259;
}

.blue {
    background: #018ccf;
}

.red {
    background: #f00;
}

.black {
    background: black;
}

#sector {
    display: block;
    padding: 15px;
    font-size: 20px;
    color: black;
}

#sector-link {
    cursor: pointer;
}

#images_table td {
    padding-right: 20px
}

#map_sector {
    text-align: center;
    padding-top: 10px;
}

.shadowbox {
    background: white;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

.content {
    padding: 20px;
    background: #ffffff;
    text-align: center;
}

.content ol {
    text-align: left;
    line-height: 30px;
}

#example_wrapper {
    padding: 20px;
    background: #ffffff;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

#map {
    width: 100%;
    color: #235b9a;
}

#gaswerk_map {
    background: url("map-icon.png") no-repeat scroll 0 0 transparent;
}

#gaswerk_boulders {
    background: url("map-icon.png") no-repeat scroll 0 0 transparent;
}

#milandia_map {
    background: url("map-icon-mil.png") no-repeat scroll 0 0 transparent;
}


