tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

tfoot {
    display: table-header-group;
}

table {
    padding-top:20px;
    border-collapse: collapse;
    table-layout: fixed; 
    word-wrap: break-word;
}

th.narrow {
    font-size: 12px;
}

th.smallish {
    font-size: 12px;
}

#example_info {
    position: absolute;
    top: 15px;
}
