body {
    margin-left: 30px;
    margin-right: 30px;
    background: #f9f9f9;
    font-family: Helvetica, Arial;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

tfoot {
    display: table-header-group;
}

table {
    padding-top:20px;
    border-collapse: collapse;
    table-layout: fixed; 
    word-wrap: break-word;
}

th {
    background-color: #eef2f6;
    color: #235b9a;
    letter-spacing: .1em;
}

hr {
    border-color: #235b9a;
}


td.centered {
    text-align: center;
}

td.tiny {
    font-size: 12px;
}

th.twenty {
    font-size: 10px;
}

th.fourty {
    font-size: 12px;
}

th.sixty {
    font-size: 10px;
}

#example_wrapper {
    padding: 20px;
    background: #ffffff;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

#credits {
    padding-top: 10px;
    position: absolute;
    right: 20px;
    font-size: .7em;
    letter-spacing: .2em;
}

.buttons_container {
    background: #ffffff;
    padding: 15px 0px 15px 0px;
    text-align: center;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

.button {
    font-size: 16px;
    margin-left: 15px;
    background-color: #235b9a;
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.title {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #235b9a;
}

a.underline {
    border-bottom: 1px blue dotted;
}

a:link {
    color: #235b9a;
    text-decoration: none;
}

a:visited {
    color: #235b9a;
    text-decoration: none;
}

a:hover {
    color: #235b9a;
    text-decoration: none;
}

a:active {
    color: #235b9a;
    text-decoration: none;
}

#route_root {
    margin: auto;
    width: 60%;
    background: #ffffff;
    color: #235b9a;
    letter-spacing: .1em;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

#disqus_thread {
    padding: 20px;
}

#header {
    background: #ffffff;
    padding: 5px 0px 5px 0px;
    text-align: center;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

input, select, textarea{
    color: red;
}

textarea:focus, input:focus {
    color: red;
}

div.dt-buttons {
    float: right;
    margin-right: 20px;
}

.dataTables_filter {
    padding-top: 12px;
}
